ul{
    padding: 0%;
    list-style: none;
}

.background-color-wrapper{
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.card-content-wrapper{
    margin: 15px;
    display: grid;
    grid-template-rows: 100%;

    flex-grow: 1;
}

.thoughts-and-feelings-wrapper{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;

    grid-column: 1;
    grid-row: 1;
}

.thoughts-of-feeling{
    vertical-align: middle;
    display: inline-block;
}

.base-feeling-wrapper{
    min-height: 80px;
    line-height: 80px;
    text-align: center;
}
   
.feeling-title{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.animation-wrapper{
    grid-row: 1;
    grid-column: 1;
}

.content-centered{
    padding-top: 80px;
}

.animation-fade-in{
    opacity: 0;

    animation-name: fadeIn;
    animation-delay: 220ms;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.animation-fade-out{
    opacity: 1;

    animation-name: fadeOut;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.animation-move-up{
    animation-name: moveUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.animation-move-down{
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes moveUp{
    from{
        transform: translateY(291px);
    }
    to{
     transform: translateY(0px);
     animation-timing-function: ease;
   }
}

@keyframes moveDown{
    from{
        transform: translateY(0%);
    }
    to{
     transform: translateY(291px);
     animation-timing-function: ease;
 }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

