<div class="background-color-wrapper" [ngStyle]="backgroundStyle">
    <div class="card-content-wrapper">
        <div class="thoughts-wrapper">
            <div [ngClass]="calculateClassesForThougts()">   
                <ul>
                    <li *ngFor="let thought of thoughts">{{thought}}</li>
                </ul>
            </div>       
        </div>
        <div class="feelings-wrapper">
                <div [ngClass]="calculateClassesForFeelings()">   
                        <ul [ngStyle]="dotStyle">
                            <li *ngFor="let feeling of feelings">
                                <div class="list-item">{{feeling}}</div>
                            </li>
                        </ul>
                </div>
        </div>

        <div class="animation-wrapper">
            <div [ngClass]="calculateClassesForMovingTitle()" [ngStyle]="backgroundStyle" (click)="switchState()">
                <H1 class="feeling-title">{{feelTitle}}</H1>
            </div>
        </div> 
    </div>
</div>
<a class="button-neutral button-add-feeling-to-diary" [ngStyle]="backgroundStyle" (click)="onClickAddFeelingToDiary()">+Tagebuch</a> 

