.card-content-wrapper{
    margin: 15px;
    display: grid;
    grid-template-rows: 100%;

    flex-grow: 1;
}

.thoughts-and-feelings-wrapper{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;

    grid-column: 1;
    grid-row: 1;
}

.thoughts-of-feeling{
    vertical-align: middle;
    display: inline-block;
}

.base-feeling-wrapper{
    min-height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #FC7307;
}
   
.feeling-title{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.animation-wrapper{
    grid-row: 1;
    grid-column: 1;
}

.animation-move-up{
    animation-name: moveUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.animation-move-down{
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes moveUp{
    from{
        transform: translateY(291px);
    }
    to{
     transform: translateY(0px);
     animation-timing-function: ease;
   }
}

@keyframes moveDown{
    from{
        transform: translateY(0%);
    }
    to{
     transform: translateY(291px);
     animation-timing-function: ease;
 }
}

