.header-spacing-box{
    display: flex;
    justify-content: center;
}
.header-spacing-box:first-child{
    justify-content: flex-start;
}
.header-spacing-box:last-child{
    justify-content: flex-end;
}


.header-spacing-box h3{
    margin: 0;
    font-size: 18px;
}

@media only screen and (max-width:450px) {

    .header-spacing-box h3{
        font-size: 14px;
    }
}