.card{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 430px;
    width: 250px;
    min-width: 250px; 
    border-radius: 3px;
    margin-right: 25px;
    text-align: center;
    padding-bottom: 40px;
    position: relative;
}




.feel-finder-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.diary-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-arrow-wrapper a,
.right-arrow-wrapper a{
    color: #333333;
    font-size: 30px;
    text-decoration: none;
}
.left-arrow-wrapper a{
    margin-right: 15px;
}
.right-arrow-wrapper a{
    margin-left: 15px;
}


.info-text-top {    
    position: absolute;
    top: 10px;
}

.card-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    overflow-y: hidden;
    flex-direction: row;
}
.card-wrapper::-webkit-scrollbar {
    display: none;
}

.diary-content-wrapper {
    width: 60%;
    min-width: 250px;
    flex-grow: 1;
}

.animation-fade-in{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

.animation-fade-out{
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media only screen and (max-width:450px) {
    .card{
        height: auto;
    }
    .card-wrapper{
        max-height: 375px;
        margin-top: 30px;
    }
    .left-arrow-wrapper,
    .right-arrow-wrapper{
        display: none;
    }
    .info-text-top {    
        top: 4px;
    }
    
}