<div class="arrow-wrapper">
        <a href="httpx://placeholder.com"><img src="https://via.placeholder.com/25/4192D9"></a>
</div>

<div class="card-wrapper">
    <custom-feeling-card class="card" *ngFor="let cardData of cards" [feelTitle]="cardData.title" [feelings]="cardData.feelings" [thoughts]="cardData.thoughts" [cardStyle]="cardData.style"></custom-feeling-card>
    
</div>
<div class="arrow-wrapper">
        <a href="httpx://placeholder.com"><img src="https://via.placeholder.com/25/4192D9"></a>
</div>
