/* Load Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

/* Font-sizes */
html, body, *{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #595654;
    font-weight: 400;
}
h1{
    font-size: 26px;
    font-weight: 800;
}
h2,h3{
    font-weight: 600;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}


/* Content */
.feel-finder-content-wrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    min-height: 100%;
}

.header-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    min-height: 75px;
    order: 1;
}

.content-content-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;

    background-color: rgba(243, 243, 243, 1);


    order: 2;
    flex-grow: 1;
}

.footer-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
    min-height: 75px;
    border: 1px solid black;
    order: 3;
}
